#banner{
    width: 100vw;
    height: auto;
    height: 710px;  
}
.image_container{
    display: flex;
    justify-content: center;
    width: 1110;
    height: 190;
    display: grid;
    padding: 0px 15px 0px 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
}
 
  .image_container img{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    width: 320px;
    height: 160px;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 17px 20px 0px 20px;
  } 
  .section{
    width: 1150px;
    height: 920px;
    margin: 45px 0px 0px 360px ;
}
.image_container img{
    background-color: #f8f9fa;
    opacity: .20;
}
h1{
    position: absolute;
    font-weight: 300;
    font-size: 50px;
    top: 870px;
    margin-left: 65px;
    color: #596e84;

}
#h_g {
    margin:48px 0 0 415px;
    font-size: 45px;
}
#s_o{
    margin:50px 0 0 800px;
    font-size: 40px;
}
